@charset "utf-8";
/* highlight */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
legend {
  font: 14px/1.16 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  outline: 0;
  line-height: 1.16;
}
a {
  color: #333333;
}
a:hover {
  color: #ff8800;
}
body {
  background-color: #fbf9f7;
}
/* container */
.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
}
/* container */
.metis {
  width: 100%;
  padding: 20px 0 30px;
}
.header {
  padding-top: 10px;
  position: relative;
  margin-bottom: 30px;
}
.fh-logo {
  display: block;
  width: 299px;
  height: 128px;
  background: url("//img.alicdn.com/imgextra/TB2EQd8eFXXXXbZXpXXXXXXXXXX_!!82290883.png") 0 0 no-repeat;
  background-size: 299px 128px;
}
.fh-subtitle {
  font: 1.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.fh-subtitle .fh-st-2 {
  color: #ffac4d;
}
.fh-subtitle .fh-st-4 {
  color: #ffac4d;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all {
  .fh-logo {
    background: url("//img.alicdn.com/imgextra/TB2RFCoeFXXXXbJXXXXXXXXXXXX_!!82290883.png") 0 0 no-repeat;
    background-size: 299px 128px;
  }
}
.footer {
  color: #bbbbbb;
  padding: 10px;
}
.footer a {
  color: #bbbbbb;
}
.footer a:hover {
  text-decoration: underline;
}
.footer > div {
  overflow: hidden;
}
.footer p {
  float: left;
}
.footer ul {
  float: right;
  font-size: 10px;
}
.footer ul span {
  display: inline-block;
  min-width: 46px;
}
@media (max-width: 600px) {
  .footer ul,
  .footer p {
    float: none;
    text-align: center;
  }
  .footer ul {
    margin: 10px 0 20px;
  }
}
.article {
  margin-bottom: 38px;
}
/* .fa-meta  */
.fa-meta {
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  color: #bbbbbb;
  text-shadow: 1px 1px #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 3px;
  font-size: 12px;
}
.fa-meta a {
  color: #bbbbbb;
  transition: color .3s ease;
}
.fa-meta a:hover {
  color: #666666;
}
.fa-meta > * {
  display: inline-block;
  float: left;
}
.fa-meta > *:after {
  content: '·';
  margin: 0 5px;
  color: #e1e1e1;
}
.fa-meta > *:last-child:after {
  content: none;
}
/*fa-subject*/
.fa-subject {
  border: 1px #f6f1ed solid;
  background-color: #FFF;
}
/* fa-title */
.fa-title {
  font-size: 2.2em;
  padding: 15px 15px 0;
}
/**/
.fa-tag-list > li {
  float: left;
}
/* fa-gallery */
.fa-gallery > div {
  display: none;
}
.fa-gallery > div:first-child {
  display: block;
}
.fa-gallery img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/* fa-entry */
.fa-entry {
  padding: 15px;
  /* af-more-link*/
  /* .caption */
  /* music m163 */
}
.fa-entry p,
.fa-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.fa-entry p:first-child,
.fa-entry table:first-child {
  margin-top: 0;
}
.fa-entry p:last-child,
.fa-entry table:last-child {
  margin-bottom: 0;
}
.fa-entry h1,
.fa-entry h2,
.fa-entry h3,
.fa-entry h4,
.fa-entry h5,
.fa-entry h6 {
  font-weight: bold;
  line-height: 1.1em;
  margin: 1.1em 0;
}
.fa-entry a {
  border-bottom: 1px #bbbbbb dotted;
}
.fa-entry a:hover {
  border-bottom: 1px #ffb866 solid;
}
.fa-entry ul,
.fa-entry ol,
.fa-entry dl {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
.fa-entry img,
.fa-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.fa-entry iframe {
  border: none;
}
.fa-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.fa-entry th {
  font-weight: bold;
  border-bottom: 3px #eeeeee solid;
  padding-bottom: 0.5em;
}
.fa-entry td {
  border-bottom: 1px #eeeeee solid;
  padding: 10px 0;
}
.fa-entry .af-more-link {
  font-size: 12px;
  margin: 5px 0 -5px;
}
.fa-entry .af-more-link a {
  color: #FFF;
  background-color: #ff8800;
  transition: background-color 0.3s ease;
  border: 0 none;
  padding: 3px 10px;
  line-height: 1.2em;
}
.fa-entry .af-more-link a:hover {
  background-color: #ffa033;
}
.fa-entry .caption {
  display: block;
  color: #bbbbbb;
  font-size: 10px;
  margin-top: 1px;
  text-align: center;
}
.fa-entry .music.m163 {
  margin: -1.6em 0 0 -10px;
}
/* mixin */
/*.fa-entry*/
.fa-entry pre,
.fa-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.fa-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.fa-entry pre {
  background: #eeeeee;
  padding: 15px;
  overflow: auto;
  color: #666666;
  line-height: 22px;
  border-radius: 3px;
}
.fa-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.fa-entry .highlight {
  background: #eeeeee;
  padding: 15px;
  overflow: auto;
  color: #666666;
  line-height: 22px;
  border-radius: 3px;
}
.fa-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.fa-entry .highlight table {
  margin: 0;
  width: auto;
}
.fa-entry .highlight td {
  border: none;
  padding: 0;
}
.fa-entry .highlight figcaption {
  font-size: 0.85em;
  color: #444999;
  line-height: 1em;
  margin-bottom: 1em;
}
zoom 1 .fa-entry .highlight figcaption:after,
.fa-entry .highlight figcaption:before {
  content: "";
  display: table;
}
.fa-entry .highlight figcaption:after {
  clear: both;
}
.fa-entry .highlight figcaption a {
  float: right;
}
.fa-entry .highlight .gutter pre {
  color: #bbbbbb;
  font-size: 0.85em;
  text-align: right;
  padding-right: 20px;
}
.fa-entry .highlight .line {
  height: 1em;
}
pre {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
pre .comment,
pre .title {
  color: #444999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #d43c40;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #e17132;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #60bf60;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #60bf60;
}
pre .css .hexcolor {
  color: #45acac;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4175a9;
}
pre .keyword,
pre .javascript .function {
  color: #ab51ab;
}
